.button{
    padding: 6px;
    margin: 6px;
    border: none;
    background-color: lightcoral;
    color: black;
    border-radius: 6px;
    font-size: 12px;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(124, 217, 248);
}